body {
    background-color:hsl(30, 38%, 92%);
    
}
main {
    display:flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100svh;
}

.container {
    max-width:37.5rem;
    display:flex;
    flex-wrap: wrap;
    background-color: white;
    margin-inline: auto;
    border-radius: 0.8rem;
    
}

.left-side {
    width: 50%;
}
.product-image {
    border-radius: 0.8rem 0rem 0rem 0.8rem;
    object-fit: cover;
    height: 100%;
}

.right-side {
    width: 39%;
    display:flex;
    flex-direction: column;
    padding:5.5%;
}

.product-name, .description, button, .old-price, .attribution {
    font-family:montserrat;
}
.product-name {
    font-size: 0.875rem;
    letter-spacing: 0.4rem;
    margin-bottom: 1.5rem;
}

.product-name, .description, .old-price {
    color: hsl(228, 12%, 48%);
}

.title, .new-price{
    font-family: fraunces;
    font-weight:700;
}

.title {
    color: hsl(212, 21%, 14%);
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
}

.description {
    margin-bottom: 1rem;
    font-size: 0.875rem;
}

.prices {
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}

.new-price {
    font-size: 2rem;
    color: hsl(158, 36%, 37%);
}

.old-price {
    margin-left: 1rem;
    font-size: 0.875rem;
}


.add-to-cart-button {
    border:none;
    border-radius:0.8rem;
    padding-top:0.7rem;
    padding-bottom:0.7rem;
    background-color: hsl(158, 36%, 37%);
    color:white;
    font-weight: 700;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 0.25s;
    cursor:pointer;
}
.add-to-cart-button:hover {
    background-color: hsl(156, 42%, 18%);
}
.add-to-cart-button:active {
    opacity: 50%;
}

.cart {
    margin-right: 0.7rem;
}

.attribution {
    text-align:center;
    font-size: 0.5rem;
}

@media (max-width:543px) {
    .container {
        width:21.25rem;
        flex-direction: column;
}
    .left-side {
        width: 100%;
        height: 14.75rem;
        
    }

    .product-image {
        object-fit:cover;
        object-position: center;
        height:100%;
        width:100%;
        border-radius: 0.8rem 0.8rem 0 0;
}

    .right-side {
        width:89%
    }
}



